.aside-right {
  grid-area: aside-right;
}

.category-card h2 {
  margin-top: 0;
  color: var(--color-text-header);
}

.category-card button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: var(--color-text-body);
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  padding: var(--spacing-2);
  border-radius: var(--radius);
}

.selected-category button {
  color: var(--color-branding) !important;
}

.selected-category {
  border-left: 5px solid var(--color-branding);
  background: var(--color-branding-transparent);
}

.category-card button:hover {
  background: var(--color-on-hover);
}

.categorys-list {
  list-style: none;
  padding: 0;
}

.category-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: var(--spacing-1);
}

@media (max-width: 1200px) {
  .aside-right {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (max-width: 940px) {
  .aside-right {
    grid-column: 1;
    grid-row: 3;
  }
}
